/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-color: rgba(255, 0, 112, 1);
  --additional-color: rgba(219, 0, 255, 1);
  --dark-color: rgba(0, 0, 40, 1);
  --paragraph-text-color: rgba(241, 178, 206, 1);
  --button-hover: rgba(255, 0, 112, 0.4);
  --link-hover:rgba(241, 178, 206, 1);
  --background-image: url("/images/cover-image-dark.png");
}